[Desktop Entry]
Type=Application
Version=1.0
Name=cosmic-caffeine Settings
GenericName=Caffeine Settings
Comment=Configure cosmic-caffeine
Exec=@BIN@
Icon=cosmic-caffeine-symbolic
Terminal=false
Categories=Utility;Settings;
NoDisplay=false
StartupNotify=true
