[Desktop Entry]
Name=Caffeine
Comment=Inhibit idle and sleep from a panel button
Type=Application
Exec=@BIN@
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Caffeine;Sleep;Idle;Inhibit;
Icon=cosmic-caffeine-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
